* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #07F #333;
}

body {
    background-image: linear-gradient(black, grey);
    font-family: sans-serif;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    line-height: 150px;
    font-size: 8vmax;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, #07F, #707);
    animation: color-change 3s alternate infinite;
}

.content {
    position: sticky;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
}
.content.active {
    display: flex;
    animation: fade 2s;
}

.content p {
    width: max(300px, 40%);
    background-color: #000A;
    color: #FFF;
    padding: 20px;
    font-size: 16pt;
    backdrop-filter: blur(3px);
    border-radius: 10px;
    border: 1px solid #FFF;
    z-index: 1;
}
.content img {
    width: max(300px, 40%);
    aspect-ratio: auto;
    border: 10px solid white;
}
.content:nth-child(odd) img {
    order: 0;
    transform: rotate(-10deg);
}
.content:nth-child(even) img {
    order: 1;
    transform: rotate(10deg);
}

@keyframes color-change {
    to {
        filter: hue-rotate(90deg);
    }
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

::-webkit-scrollbar {
    width: 7px;
    background-color: #333;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(#07F, #A0A);
    border-radius: 3px;
}